.career {
  @include bkg-color($main-background);
}

.steps {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @include bkg-image("../images/stairway.svg");
  background-size: contain;
  background-position: center bottom;
}

.step {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 33.3%;
}

.step-img {
  padding-bottom: 10px;
  display: block;
  position: relative;
  z-index: 1;

  .first-step & {
    text-align: center;
  }
}

.first-step .course-block {
  min-height: 76px;
}

.second-step .course-block {
  min-height: 180px;
}

.third-step .course-block {
  min-height: 275px;
}

.course-name {
  font: {
    family: 'Circe Bold', Arial, sans-serif;
  }
  color: $dark-text;
  padding: 25px 30px;
  background: darken($main-background, 10%);
  width: 100%;
  display: block;
  @include transition;

  & + & {
    padding-top: 0;
  }

  &:hover {
    color: $hover-links;
    @include transition;
  }
}
