.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 55px;
}

.logo {
  display: block;
  @include bkg-image('../images/netology-logo.svg');
  background-size: contain;
  width: 165px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0 120px;
  line-height: 45px;
}

.header-menu-item {
  color: $light-text;
  @include transition;

  &:hover {
    color: $hover-links;
    @include transition;
  }
}

.avatar {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
  float: right;
}

.arrow {
  @include bkg-image("../images/arrow.svg");
  background-size: contain;
  display: block;
  width: 12px;
  height: 12px;
  float: right;
  margin-top: 17px;

  &:hover {
    cursor: pointer;
  }
}

.user-menu {
  display: none;
}
