.page-navigation {
  padding: 0 55px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  top: 0;
  background-color: $white-background;
  z-index: 999;
}

.course-logo {
  display: block;
  float: left;
  width: 133px;
  height: 45px;
  @include bkg-image("../images/JS-logo.svg");
}

.page-menu {
  display: flex;
  justify-content: space-between;
  width: 550px;
  padding: 15px 0;
  margin: 0 auto;
}

.page-menu-item {
  color: $dark-text;
  @include transition;

  &:hover {
    color: $hover-links;
    @include transition;
  }
}
