// Backgrounds
$main-background: #f7f7f7;
$rare-background: #54adf7;
$dark-background: #2b2b2b;
$anchor-btn-background: #ffd532;

// Text
$light-text: #ffffff;
$dark-text: #212121;
$dark-gray-text: #4e4e4e;
$gray-text: #6c7073;

// Borders
$bright-border: #ffd532;
$light-border: #d8d8d8;

// Accents
$blue-accent: #6756eb;
$red-accent: #ff5751;

// Buttons
$blue-btn: #8478ff;
$hover-blue-btn: #7065e5;

// Shadows
$blue-shadow: rgba(131, 120, 255, 0.3);

// Links
$main-links: #4a90e2;
$gray-links: #999999;
$hover-links: #fc1b62;
