@font-face {
  font: {
    family: 'Circe';
    style: normal;
    weight: 300;
  }
  src: local('Circe'), url('../fonts/CirceLight.woff') format('woff');
}

@font-face {
  font: {
    family: 'Circe';
    style: normal;
    weight: normal;
  }
  src: local('Circe'), url('../fonts/CirceReg.woff') format('woff');
}

@font-face {
  font: {
    family: 'Circe';
    style: normal;
    weight: 800;
  }
  src: local('Circe'), url('../fonts/CirceBold.woff') format('woff');
}

@font-face {
  font: {
    family: 'Circe';
    style: normal;
    weight: 900;
  }
  src: local('Circe'), url('../fonts/CirceExtraBold.woff') format('woff');
}
