* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font: {
    family: 'Circe Regular', Arial, sans-serif;
    size: 18px;
    weight: normal;
  }
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $main-links;
}

ul {
  list-style-type: none;
}

.full-wrapper {
  max-width: 1330px;
  margin: 0 auto;
  padding: 20px 0;
}

.middle-wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 85px 0;
}

.flex {
  display: flex;
  flex: {
    wrap: no-wrap;
    direction: row;
  }
  justify-content: space-between;
}

.section-title {
  color: $dark-text;
  font-size: 41px;
  line-height: 49px;
  font: {
    family: 'Circe Light', Arial, sans-serif;
    weight: 300;
  }
  text-align: center;
  margin-bottom: 45px;
}

.reverse-color {
  color: $light-text;
}

.bordered {
  border-bottom: 1px solid $light-border;
}
