* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font: {
    family: 'Circe', Arial, sans-serif;
    size: 18px;
    weight: normal;
  }
  min-width: 1240px;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $main-links;
}

ul {
  list-style-type: none;
}

.full-wrapper {
  max-width: 1330px;
  margin: 0 auto;
  padding: 20px;
}

.middle-wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 105px 0;
}

.flex {
  display: flex;
  flex: {
    wrap: nowrap;
    direction: row;
  }
  justify-content: space-between;
}

.section-title {
  color: $dark-text;
  font-size: 41px;
  line-height: 49px;
  font: {
    family: 'Circe', Arial, sans-serif;
    weight: 300;
  }
  text-align: center;
  margin-bottom: 45px;
}

.side-align {
  text-align: left;
}

.decoration {
  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    @include bkg-color($light-text);
    margin: 30px 0;
  }
}

.reverse-color {
  color: $light-text;
}

.bordered {
  border-bottom: 1px solid $light-border;
}

.anchor {
  margin-top: 95px;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  width: 16px;
  height: 27px;
  opacity: 0.8;
  @include transition;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &.inactive {
    opacity: 0.5;

    &:hover {
      cursor: default;
      opacity: 0.5;
    }
  }
}

.left-nav {
  left: 45px;
  @include bkg-image("../images/icons/icon-left-arrow-white.svg");

  &.light-background {
    @include bkg-image("../images/icons/icon-left-arrow-blue.svg");
  }
}

.right-nav {
  right: 45px;
  @include bkg-image("../images/icons/icon-right-arrow-white.svg");

  &.light-background {
    @include bkg-image("../images/icons/icon-right-arrow-blue.svg");
  }
}
