@mixin bkg-image($image) {
  background: {
    image: inline($image);
    repeat: no-repeat;
    position: center;
    size: cover;
  }
}

@mixin bkg-color($color) {
  background: {
    color: $color;
  }
}

@mixin transition($property: all) {
  transition: $property 0.4s;
}
