@mixin bkg-image($image) {
  background: {
    image: url($image);
    repeat: no-repeat;
    position: center;
    size: cover;
  }
}

@mixin bkg-color($color) {
  background: {
    color: $color;
  }
}
