@charset "utf-8";
@import url(normalize.css);

@font-face {
  font-family: 'Circe Light';
  font-style: normal;
  font-weight: normal;
  src: local("Circe Light"), url("../fonts/CirceLight.woff") format("woff");
}

@font-face {
  font-family: 'Circe Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Circe Regular"), url("../fonts/CirceReg.woff") format("woff");
}

@font-face {
  font-family: 'Circe Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Circe Bold"), url("../fonts/CirceBold.woff") format("woff");
}

@font-face {
  font-family: 'Circe ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local("Circe ExtraBold"), url("../fonts/CirceExtraBold.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Circe Regular', Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #4a90e2;
}

ul {
  list-style-type: none;
}

.full-wrapper {
  max-width: 1330px;
  margin: 0 auto;
  padding: 20px 0;
}

.middle-wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 85px 0;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-title {
  color: #212121;
  font-size: 41px;
  line-height: 49px;
  font-family: 'Circe Light', Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 45px;
}

.side-align {
  text-align: left;
}

.decoration:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 30px 0;
}

.reverse-color {
  color: #ffffff;
}

.bordered {
  border-bottom: 1px solid #d8d8d8;
}

.light-text {
  color: #ffffff;
}

.full-width {
  width: 100%;
}

.anchor-btn {
  background-color: transparent;
  border: 3px solid #ffd532;
  border-radius: 35px;
  padding: 15px 35px;
  font-size: 12px;
  font-family: 'Circe Bold', Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.anchor-btn:hover,
.anchor-btn:active,
.anchor-btn:focus {
  outline: none;
  color: #fc1b62;
  background-color: #ffd532;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.conversion-btn {
  background-color: #8478ff;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  padding: 20px 60px;
  box-shadow: 0 16px 24px 0 rgba(131, 120, 255, 0.3);
  font-size: 20px;
  font-family: 'Circe Bold', Arial, sans-serif;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.conversion-btn:hover,
.conversion-btn:active,
.conversion-btn:focus {
  outline: none;
  background-color: #7065e5;
  border: none;
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 55px;
}

.logo {
  display: block;
  background-image: url("../images/netology-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: contain;
  width: 165px;
}

.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 120px;
  line-height: 45px;
}

.header-menu-item {
  color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-menu-item:hover {
  color: #fc1b62;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.avatar {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
  float: right;
}

.arrow {
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: contain;
  display: block;
  width: 12px;
  height: 12px;
  float: right;
  margin-top: 17px;
}

.arrow:hover {
  cursor: pointer;
}

.user-menu {
  display: none;
}

.slider {
  background-image: url("../images/slider-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 185px;
  padding-bottom: 95px;
  text-align: center;
}

.slider-title {
  background-image: url("../images/slider-title.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 820px;
  height: 310px;
  text-indent: -99999px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 85px;
}

.slider-extra {
  margin-top: 35px;
  font-family: 'Circe Bold', Arial, sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.slider-extra-item:before {
  content: "–";
  display: inline-block;
  padding: 0 5px;
  vertical-align: middle;
}

.slider-extra-item:first-child:before {
  content: "";
}

.user-content:after {
  content: attr(data-date);
  display: inline-block;
  padding-left: 5px;
}

.page-navigation {
  padding: 0 55px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.course-logo {
  display: block;
  float: left;
  width: 133px;
  height: 45px;
  background-image: url("../images/JS-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 550px;
  padding: 15px 0;
  margin: 0 auto;
}

.page-menu-item {
  color: #212121;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.page-menu-item:hover {
  color: #fc1b62;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.about-main-article {
  max-width: 50%;
  padding: 80px 140px 80px 0;
}

.about-main-title {
  font-family: 'Circe Light', Arial, sans-serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 49px;
  max-width: 395px;
  margin-bottom: 45px;
}

.about-main-title:before {
  content: "JS";
  display: block;
  font-family: 'Circe Bold', Arial, sans-serif;
  font-size: 12px;
  color: #ff5751;
}

.about-main-text {
  font-family: 'Circe Regular', Arial, sans-serif;
  color: #6c7073;
}

.about-list {
  max-width: 50%;
}

.about-list-item {
  padding-top: 35px;
  padding-bottom: 50px;
}

.list-item-title {
  font-family: 'Circe Regular', Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.list-item-text {
  margin-left: 100px;
  color: #6c7073;
}

.icon:before {
  content: "";
  width: 70px;
  height: 60px;
  display: block;
  margin-right: 30px;
  float: left;
}

.icon-js:before {
  content: url(../images/icon-js.svg);
}

.icon-tag:before {
  content: url(../images/icon-tag.svg);
}

.icon-brackets:before {
  content: url(../images/icon-brackets.svg);
}

.process {
  background-image: url("../images/pieces-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  counter-reset: listCounter;
}

.process .middle-wrapper {
  overflow: hidden;
}

.process:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: -webkit-radial-gradient(50% 8%, circle, #80bbff, #4990e2);
  background-image: radial-gradient(circle at 50% 8%, #80bbff, #4990e2);
  z-index: -1;
}

.process-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 75px;
}

.process-list-item {
  width: 290px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-right: 35px;
  padding: 25px;
  border-radius: 5px;
  background-color: #f7f7f7;
  position: relative;
}

.process-list-item .icon:before {
  width: 87px;
  height: 87px;
  float: none;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
}

.icon-workplace:before {
  content: url(../images/icon-workplace.svg);
}

.icon-presentation:before {
  content: url(../images/icon-presentation.svg);
}

.icon-webinar:before {
  content: url(../images/icon-webinar.svg);
}

.process-list-item-title {
  font-family: 'Circe ExtraBold', Arial, sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  color: #4e4e4e;
  margin-bottom: 15px;
}

.process-list-item-text {
  color: #6c7073;
}

.skills {
  background-color: #f7f7f7;
  text-align: center;
}

.skills .custom-wrapper {
  max-width: 1140px;
}

.skills .conversion-btn {
  margin: 20px 0;
}

.skill-icons-list {
  margin: 30px 0;
}

.skill-icon-list-item {
  width: 205px;
  font-size: 20px;
  line-height: 26px;
}

.skill-icon {
  display: block;
  width: 192px;
  height: 192px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.reasons {
  background-color: #ff654a;
}

.reason-text {
  font-size: 22px;
  line-height: 30px;
}

.programm {
  background-color: #f7f7f7;
}

.opinions {
  background-color: #54adf7;
}

.career {
  background-color: #f7f7f7;
}

.registration {
  background-image: url("../images/registration-bkg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.questions {
  background-color: #f7f7f7;
}

.footer-black {
  background-color: #2b2b2b;
}